<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctfww.commonlib" >

    <!--申明所有用到的权限-->

    <!--网络权限，用于和后台服务器交互-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--wifi权限，用于获取环境指纹功能-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--闪光灯权限，用于扫码签到-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!--NFC权限，用于NFC签到-->
    <uses-permission android:name="android.permission.NFC" />

    <!--安装apk权限，用于apk更新-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>



    <!--位置权限，用于地图定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--读写权限，百度离线地图功能需要-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--camera权限，用于扫码签到-->
    <uses-permission android:name="android.permission.CAMERA"/>

<!--    浮窗权限-->
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->

    <application android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ctfww.commonlib.utils.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_file_path" />
        </provider>

    </application>


</manifest>







