<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctfww.module.user">

    <application android:theme="@style/AppTheme">

        <activity android:name="com.ctfww.module.user.activity.LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.ctfww.module.user.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.SetPasswordActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.UserInfoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.UpdateMobileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ctfww.module.user.activity.UpdateMobile2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ctfww.module.user.activity.OneValSetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ctfww.module.user.activity.AccountActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.GroupMgtActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.GroupCreateOrUpdateActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.GroupActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.GroupAddMemberActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.UserSelectGroupActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.UserSelectUserActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.UserInviteActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.UserCreateNoticeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.NoticeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.ctfww.module.user.activity.NoticeDescActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>