<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctfww.module.device" >

    <application android:theme="@style/AppTheme">

        <activity android:name="com.ctfww.module.device.activity.DeviceInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.ctfww.module.device.activity.DeviceListActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
