<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guoliang.module.keepwatch">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/keepwatch_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/keepwatch_app_round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_config"
        android:name="debug.KeepWatchApplication">

        <!--主界面-->

        <activity
            android:name=".activity.KeepWatchMainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.KeepWatchAddDeskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchAboutAppActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ViewMapActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchViewSigninDeskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchSelectDeskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchCreateAssignmentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchLeakListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchStatisticsDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchPersonTrendsListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchRankingListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchSigninListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchAssignmentListActivity" android:screenOrientation="portrait"/>


        <!--NFC页面-->


        <!--扫码页面-->
        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchQrActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchDeskListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchImageAndVideoPreviewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchReportSigninActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchDayReportActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchWeekReportActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchMonthReportActivity"
            android:screenOrientation="portrait"/>

        <!--百度地图api_key-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="20SDGwlbBaN99EGF5qWhsda917runwup" />
        
    </application>

</manifest>