<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ctfww.module.keepwatch">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/keepwatch_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/keepwatch_app_round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_config"
        android:name="debug.KeepWatchApplication">

        <!--主界面-->

        <activity
            android:name=".activity.KeepWatchMainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.KeepWatchSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchAboutAppActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchLeakListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchStatisticsDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchPersonTrendsListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchRankingListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeepWatchSigninListActivity" android:screenOrientation="portrait"/>


        <!--NFC页面-->


        <!--扫码页面-->
        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchImageAndVideoPreviewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchReportSigninActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchDayReportActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchWeekReportActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.KeepWatchMonthReportActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.ctfww.module.desk.activity.SelectActivity"
            android:screenOrientation="portrait"/>
        
    </application>

</manifest>