<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctfww.module.assignment">

    <application android:theme="@style/AppTheme">

        <activity android:name=".activity.AssignmentListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.TodayAssignmentListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.CreateAssignmentActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
